# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=osm
POSTGRES_USER=osm_user
POSTGRES_PASSWORD=password1234
# OSM2PGSQL
# OSM2PGSQL_USE_METADATA=false  # false/true
# Replication
# REPLICATION_SERVER_URL=https://planet.osm.org/replication/minute
# REPLICATION_FETCH_INTERVAL_SECONDS=60# change it, when using different REPLICATION_SERVER_URL e.g. 3600 for replication/hour